@model WebBookEventManager.ViewModels.EventFormViewModel

@{
    ViewBag.Title = "EventForm";
    var mdoel = Model;
}

<h2>New Event</h2>

@using (Html.BeginForm("Save", "Events", null, FormMethod.Post, new { @id = "new-event-form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "required" })
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "required" })
        @Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date",@min="01-01-2000" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "required" })
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StartTime, new { @class = "required" })
        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control", @type = "time" })
        @Html.ValidationMessageFor(m => m.StartTime)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.EnumDropDownListFor(m => m.Type, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Type)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Duration)
        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Duration)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OtherDetails)
        @Html.TextAreaFor(m => m.OtherDetails, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OtherDetails)
    </div>

    <div class="form-group" id="email-invities-section">
        @Html.LabelFor(m => m.EmailInvities)
        @Html.TextBoxFor(m => m.EmailInvities, new { @class = "form-control email-invitation-box" })
        @Html.ValidationMessageFor(m => m.EmailInvities)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-primary" id="add-invite">Submit</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
